<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disconnect</servlet-name>
        <servlet-class>controller.Disconnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>API</servlet-name>
        <servlet-class>controller.API</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerProfile</servlet-name>
        <servlet-class>api.CustomerProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>api.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartManager</servlet-name>
        <servlet-class>api.CartManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orders</servlet-name>
        <servlet-class>api.Orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GeneralInfos</servlet-name>
        <servlet-class>api.GeneralInfos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManufacturerPage</servlet-name>
        <servlet-class>controller.ManufacturerPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disconnect</servlet-name>
        <url-pattern>/Disconnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>API</servlet-name>
        <url-pattern>/API</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerProfile</servlet-name>
        <url-pattern>/CustomerProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartManager</servlet-name>
        <url-pattern>/CartManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orders</servlet-name>
        <url-pattern>/Orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeneralInfos</servlet-name>
        <url-pattern>/GeneralInfos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManufacturerPage</servlet-name>
        <url-pattern>/ManufacturerPage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
